{% extends "products/base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
        <!-- ===== ОСНОВНОЙ КОНТЕНТ ===== -->
        <div class="main-content">
            <div class="content-box">
                <h1>Водная <span>планета</span></h1>
                <div class="divider"></div>
                <p class="subtitle">Магазин сантехники</p>
                <p class="info"><strong>Всё для тепла и комфорта</p>
            </div>
        </div>
{% endblock %}